$agent = 198px 198px
$another-double-arrow-bottom = 172px 167px
$another-double-arrow-next = 167px 172px
$another-double-arrow-prev = 167px 172px
$another-double-arrow-top = 172px 167px
$another-single-arrow-bottom = 172px 100px
$another-single-arrow-next = 100px 172px
$another-single-arrow-prev = 100px 172px
$another-single-arrow-top = 172px 100px
$bathroom = 281px 270px
$bedroom = 224px 224px
$calendar = 230px 248px
$check-in-circle = 279px 279px
$check = 281px 215px
$dd-arrow-bottom = 186px 104px
$dd-arrow-next = 104px 186px
$dd-arrow-prev = 104px 186px
$dd-arrow-top = 186px 104px
$edit = 324px 255px
$facebook = 167px 322px
$fat-arrow-bottom = 132px 299px
$fat-arrow-next = 299px 132px
$fat-arrow-prev = 299px 132px
$fat-arrow-top = 132px 299px
$google-plus = 357px 227px
$instagram = 446px 446px
$logo-home = 375px 244px
$logo = 268px 274px
$mail = 310px 243px
$map-point = 243px 225px
$modern = 171px 171px
$person = 223px 243px
$phone = 255px 255px
$properties = 229px 229px
$single-arrow-bottom = 246px 215px
$single-arrow-next = 215px 246px
$single-arrow-prev = 215px 246px
$single-arrow-top = 246px 215px
$sound = 452px 376px
$star = 302px 288px
$twitter = 246px 200px
$video = 286px 160px


svgSize($icon)
	width $icon[0]
	height $icon[1]